<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Catering_Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Catering_Menu.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>prototype</value>
      </setting>
      <setting name="Plated" serializeAs="String">
        <value>1.3</value>
      </setting>
    </Catering_Menu.Properties.Settings>
  </userSettings>
                                                                                      </configuration>
